# Rust
/target/
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
/venv/
/.venv/
.pytest_cache/
.python-version

# RMath Large Data & Binaries
*.npy
*.rpy
/numbers
/number.rpy
*.so
*.pyd
*.pdb
*.dll
*.lib
*.exe
*.csv
telemetry.csv

# IDEs
.vscode/
.idea/
.env

# Documentation Builds (We only want the custom portal)
/docs/html/
/trashee/
/test/
/rust_math_test/

/comparison_test/
/docs/portal/rmath_logo.png
/docs/portal/rmath_logo_svg_*.png
/benchmarks/
